@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800;900&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

body {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.wrapper-home {
  width: 600px;
  height: 500px;
  background: transparent;
  border: 2px solid rgba(255, 255, 255, 0.2);
  backdrop-filter: blur(20px);
  border-radius: 10px;
  padding: 30px 40px;
  overflow: auto;
}

.wrapper-home .View-btn {
  width: 60px;
  display: flex;
  justify-content: center;
  align-items: center;
  border: none;
  outline: none;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  cursor: pointer;
  font-size: 16px;
  color: #333;
  font-weight: 600;
  margin: 5px;
}

.wrapper thead th {
  position: sticky;
  top: 0;
}

table {
  border-collapse: collapse;
  margin: 6px;
  padding: 10px;
}

th,
td {
  border: 1px solid #dddddddd;
  padding: 10px;
}

::-webkit-scrollbar {
  width: 6px;
}

::-webkit-scrollbar-track {
  -webkit-box-shadow: insert 0 0 6px rgba(0, 0, 0, 0.3);
}

::-webkit-scrollbar-thumb {
  -webkit-box-shadow: insert 0 0 6px rgba(0, 0, 0, 0.3);
}

.div-btn {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 40vw;
}

.header-btn {
  width: 60px;
  display: flex;
  justify-content: center;
  align-items: center;
  background: #fff;
  border: none;
  outline: none;
  border-radius: 40px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  cursor: pointer;
  font-size: 16px;
  color: #333;
  font-weight: 600;
}
.header-Btn-Add{
  width: 200px;
  display: flex;
  justify-content: center;
  align-items: center;
  background: #fff;
  border: none;
  outline: none;
  border-radius: 40px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  cursor: pointer;
  font-size: 16px;
  color: #333;
  font-weight: 600;
  margin: 10px;
}

.header-filter {
  background: #fff;
  border: none;
  outline: none;
  border: 2px solid rgba(255, 255, 255, 0.2);
  border-radius: 40px;
  font-size: 16px;
  padding: 3px;
}

.load-block {
  display: flex;
  justify-content: center;
  align-items: center;
}

h1 {
  color: #fff;
}
